@media only screen and (max-width: 1024px) {
  header{
    padding: 27px 27px;
    .container{
      &.d-flex{
        max-width: 800px;
      }
    }
  }

  .upperMenu{
    ul{
      li{
        a{
          font-size: 14px;
        }
        &:last-of-type{
          margin-left: 20px;
        }
        i{
          font-size: 14px;
        }
      }
    }
  }

  .contentList{
    ul{
      li{
        a{
          font-size: 14px;
        }
      }
    }
  }

  .slide{
    .slideTitle{
      left:17%;
      h3{
        font-size: 33px;
      }
    }
  }

  .owl-prev{
    left:20px;
  }
  .owl-next{
    right: 20px;
  }
  .galleryColumnFirst, .galleryColumnSecond, .galleryColumnThird {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {

  header{
    position: relative;
    label{
      visibility: visible;
      opacity: 1;
      padding-right: 20px;
    }
    input:checked ~ .upperMenu{
      transform: scaleY(1);
      opacity: 1;
    }
    input:checked ~ label::before{
      content:'\f00d';
    }
    .container{
      &.d-flex{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        max-width: 700px;
      }
    }
  }
  .upperMenu{
      position: absolute;
      top:100%;
      left: 0;
      width:100%;
      background:#fff;
      padding:1rem 2rem;
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
      transform-origin: top;
      transform: scaleY(0);
      opacity: 0;
      transition: .2s linear;
    ul{
      min-width: 440px;
      max-width: 460px;
      flex-direction: column;
      li{
      margin-bottom: 20px;
      }
      li a, li i{
        font-size: 23px;
      }
      li a:before, li a:hover:before {
        display: none;
      }
      li i{
        margin-left: 12px;
      }
    }
  }

  .slide{
    .slideTitle{
      left: 20%;
      h3{
        font-size: 23px;
        margin-bottom: 30px
      }
      p{
        letter-spacing: 2px;
        font-size: 12px;
      }
    }
  }

  .owl-dots{
    bottom: 10px;
  }

  .owl-nav{
    top:45%;
  }
  .owl-prev:after, .owl-next:after{
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
  .contentList{
    ul{
      margin: 24px 0;
      li{
        a{
          font-size: 14px;
        }
      }
    }
  }
  .gallery{
    flex-direction: column;
    padding: 0 20px;
  }
  div.galleryPic{
    margin-bottom: 15px;
  }
  footer{
    padding: 70px;
  }
}
@media only screen and (max-width: 420px) {
  header{
    .container{
      &.d-flex{
        max-width: 367px;
      }
    }
  }


  div.logo{
    margin-bottom: 15px;
  }

  .upperMenu ul{
    min-width: 220px;
    li a, li i{
      font-size: 19px;
      margin-right: 10px;
    }
  }

  .slide .slideTitle{
    h3{
      font-size: 12px;
      padding: 9px 2px;
      margin-bottom: 10px;
      letter-spacing: 4px;
      width: 230px;
    }
  }
  .fterCredits{
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  header{
    .container{
      &.d-flex{
        max-width: 320px;
      }
    }
  }
  .owl-prev, owl-next{
    &:after{
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 360px) {


  .slide .slideTitle {
    left: 18%;
    top: 35%
  }
  .owl-prev, .owl-next{
    &:after{
      font-size: 10px;
    }
  }
  .owl-dots{
    bottom: 5px;
  }
  }

