@media only screen and (max-width: 1024px) {
  header {
    padding: 27px 27px; }
    header .container.d-flex {
      max-width: 800px; }

  .upperMenu ul li a {
    font-size: 14px; }
  .upperMenu ul li:last-of-type {
    margin-left: 20px; }
  .upperMenu ul li i {
    font-size: 14px; }

  .contentList ul li a {
    font-size: 14px; }

  .slide .slideTitle {
    left: 17%; }
    .slide .slideTitle h3 {
      font-size: 33px; }

  .owl-prev {
    left: 20px; }

  .owl-next {
    right: 20px; }

  .galleryColumnFirst, .galleryColumnSecond, .galleryColumnThird {
    padding: 0 20px; } }
@media only screen and (max-width: 768px) {
  header {
    position: relative; }
    header label.fas {
      visibility: visible;
      opacity: 1;
      padding-right: 20px; }
    header input#menu-bar:checked ~ .upperMenu {
      transform: scaleY(1);
      opacity: 1; }
    header input#menu-bar:checked ~ label::before {
      content: '\f00d'; }
    header .container.d-flex {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      max-width: 700px; }

  .upperMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: .2s linear; }
    .upperMenu ul {
      min-width: 440px;
      max-width: 460px;
      flex-direction: column; }
      .upperMenu ul li {
        margin-bottom: 20px; }
      .upperMenu ul li a, .upperMenu ul li i {
        font-size: 23px; }
      .upperMenu ul li a:before, .upperMenu ul li a:hover:before {
        display: none; }
      .upperMenu ul li i {
        margin-left: 12px; }

  .searchbtn .fas {
    left: 25%; }

  .slide .slideTitle {
    left: 20%; }
    .slide .slideTitle h3 {
      font-size: 23px;
      margin-bottom: 30px; }
    .slide .slideTitle p {
      letter-spacing: 2px;
      font-size: 12px; }

  .owl-dots {
    bottom: 10px; }

  .owl-nav {
    top: 45%; }

  .owl-prev:after, .owl-next:after {
    height: 20px;
    width: 20px;
    line-height: 20px; }

  .contentList ul {
    margin: 24px 0; }
    .contentList ul li a {
      font-size: 14px; }

  .gallery {
    flex-direction: column;
    padding: 0 20px; }

  div.galleryPic {
    margin-bottom: 15px; }

  footer {
    padding: 70px; } }
@media only screen and (max-width: 420px) {
  header {
    padding: 27px 0; }
    header .container.d-flex {
      max-width: 367px; }

  .wrapper.active-pos {
    right: -80px;
    bottom: -20px; }

  .searchbox .input.active-width {
    width: 200px;
    height: 40px;
    background: #fafafa; }

  div.logo {
    margin-bottom: 15px; }

  .upperMenu ul {
    min-width: 220px; }
    .upperMenu ul li a, .upperMenu ul li i {
      font-size: 19px;
      margin-right: 10px; }

  .slide .slideTitle h3 {
    font-size: 12px;
    padding: 9px 2px;
    margin-bottom: 10px;
    letter-spacing: 4px;
    width: 230px; }

  .fterCredits {
    text-align: center; } }
@media only screen and (max-width: 375px) {
  header .container.d-flex {
    max-width: 320px; }

  .owl-prev:after, owl-next:after {
    font-size: 10px; } }
@media only screen and (max-width: 360px) {
  .slide .slideTitle {
    left: 18%;
    top: 35%; }

  .owl-prev:after, .owl-next:after {
    font-size: 10px; }

  .owl-dots {
    bottom: 5px; } }

/*# sourceMappingURL=media-query.css.map */
